@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

nav {
    font-size: 28px;
    text-align: center;
    box-sizing: border-box;
    }
    
   li,a,button{
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 20px;
     color: 
    }
    
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      background-color: #0000FF;
    }
    
    .logo{
      cursor: pointer; 
    }
    
    .navlinks{
      list-style: none;
    }
    
    .navlinks li{
      display: inline-block;
      padding: 0px 20px;
    }
    
    navlinks li a{
      transition: all 0.3s ease 0s;
    }
    
    navlinks li a:hover{
      color: #0088a9;
    }
    
    nav.button{
      padding: 2px 25px;
      background-color: rgba(0,136,169,1);
    }
